html{
    min-height:100vh;
    width:100%;
    box-sizing:border-box;
}
@media only screen and (max-width: 768px) {
    #coastBody{
        padding-top:150px;
    }   
}

@media only screen and (max-width: 1152px) {
    #coastBody .container{
        padding-right:1rem;
        padding-left:1rem;
    }   
}
#coastBody{
  font-family:'Roboto',sans-serif;
  font-size:18px;
  color:#252525;
  min-height:100vh;
  box-sizing:border-box;
}
#coastBody h1, #coastBody h2, #coastBody h3, #coastBody h4{
    color:#209bac;
    font-weight:bold;
}
#coastBody h2{
    font-size:2.2rem;
}
#coastBody h2.calloutHeading{
    font-size:2.8rem;
}
#coastBody h3{
    font-size:1.7rem;
}
#coastBody .container strong{
    color:#209bac;
}

#MainMenu .navbar-end{
  font-size: 1.3rem;
  color:#0059aa;
}
#MainMenu .navbar-end .navbar-item a.portalLogin, #topBar .portalLogin, #hero-content a.button, input.button{
    color:#fff;
    background-color:#0086b3;
    border-radius:5px;
}
#topBar .portalLogin{
    font-size:.8rem;
    padding:3px 5px;
    margin:.4rem .3rem;
}
#topBar a.portalLogin:hover{
    background-color:#fff;
    border-bottom:0;
    color:#0059aa;
}
#MainMenu .navbar-end .navbar-item a.portalLogin:hover, #hero-content a.button:hover, input.button:hover{
    background-color:#fff;
    border-bottom:0;
    color:#0059aa;
}
#MainMenu .navbar-end a{
  text-decoration: none;
  text-transform:uppercase;
  color:#0059aa;
}
#MainMenu .navbar-end a:hover{
  border-bottom: 3px solid #0059aa;
  background:none;
}

#MainMenu .navbar-end .has-dropdown .navbar-dropdown a.navbar-item:hover{
    border-bottom: 1px solid #0059aa;
}

#coastBody .navbar{
    box-shadow:0 2px 7px 0 #333;
    background-color:rgba(255,255,255,0.7);
}

#coastBody .hero{
    top:-1.55rem;
    box-sizing: border-box;
    height:auto;
    max-height:600px;
    margin:0 0 0 0;
    padding:0;
    overflow:hidden;
    z-index:-2;
    position:relative;
}
#coastBody .hero .hero-body{
    padding:0;
    position:relative;
    margin:0;
    color:#fff;
    font-weight:bold;
    max-height:calc(100% - .45rem);
    top:0;
}
#bgvid{
    min-width:100%;
    height:auto;
    z-index:-1;
    position:relative;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-bottom:4px solid #0086b3;
    padding-bottom:0;
    margin-bottom:-.5rem;
    box-sizing:border-box;
}
#coastBody .hero .hero-body .container{
    z-index:1;
    position:absolute;
    top:50%;
    left:50%;
    width:100%;
    height:calc(100% - .45rem);
    transform: translate(-50%,-50%);
    max-height:calc(860px - .45rem);
    box-sizing: border-box;
    padding:0;
    margin-bottom:0;
    margin-top:0;
}

#coastBody .hero-body h1{
  color:#fff;
  font-size:3rem;
  font-weight:bold;
    width:50%;
  text-shadow:0 0 6px #333;
  
}

#hero-content p{
/*text-shadow:0 0 3px #222;*/
    width:100%;
}

#hero-content{
    text-align:center;
    width:100%;
}


#coastBody footer{
  background-color: #042464;
  color:#fff;
  font-size: .875rem;
  margin: 3rem 0 0 0;
  box-sizing:border-box;
  padding:2rem 0 1rem 0;
/*  position: absolute;
  bottom: 0;*/
  width: 100%;
}
#coastBody footer a, #coastBody footer a:visited, #coastBody footer a:link{
  color:#fff;
  text-decoration: none;
}
#coastBody footer a:hover{
  text-decoration: underline;
}
#coastBody footer strong{
    color:#fff;
}

#coastBody p{
    text-align:justify;
    margin:0 0 1.5rem 0;
}


/* HOMEPAGE STYLES */
#coastBody .homeIntro .column{
    padding-left:1.5rem;
    padding-right:1.5rem;
}
#coastBody .homepageIntro{
    margin-top:3rem;
}

#coastBody h2.introHeading, #coastBody .mission h2{
    color:#042464;
}
.introImage{
    border-radius:14px;
    box-shadow:0 0 10px 0 #333 inset;
}
.homeCerts{
    margin-top:3rem;
}
.triangle {
  position: relative;
  width:100%;
  background: #0086b3;
  margin-top:3rem;
  margin-bottom:calc(50px + 1.5rem);
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: #0086b3 transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}
#coastBody .triangle h2.triangle, #coastBody .QIA h2{
    color:#fff;
    text-transform:uppercase;
    width:100%;
    text-align:center;
    padding:1rem 0;
}
#coastBody .QIA h2{
    background-color:rgba(0,0,0,0.35);
}
#coastBody .QIA{
    background-image:url('../../assets/images/instant-quick-accurate.jpg');
    background-size:cover;
    background-position:top center;
    height:369px;
    width:100%;
    margin-top:3rem;
    padding-top:calc(184px - 1.1rem);
}
#coastBody .mission{
    margin:3rem auto;
}


/* ABOUT US STYLES */
#aboutTriangle1{
    margin-top:0;
    position:relative;
    top:-1.55rem;
    background-color:#0086b3;
}
#aboutTriangle2, #aboutTriangle3{
    background-color:#209bac;
}
#aboutTriangle1 h2.triangle, #aboutTriangle2 h2.triangle, #aboutTriangle3 h2.triangle{
    margin:0;
    background:none;
}

#aboutTriangle2 .triangle::before, #aboutTriangle3 .triangle::before{
    border-color:#209bac transparent transparent transparent;   
}
#aboutTriangle3{
    margin-top:4rem;
}

section.aboutContent{
    margin:0;
    padding-bottom:4rem;
    background-image:url('../../assets/images/coastO.png');
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;
}
section.ourTeam{
    margin-top:1rem;
    padding-top:0rem;
    box-sizing:border-box;
}

#team{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    width:100%;
    text-align:center;
}
#team .card{
    margin:0;
    width:auto;
}
#team .card .card-image{
    z-index:1;
}
#team .card-footer{
    color:#fff;
    background-color:rgba(0,0,0,.5);
    text-align:left;
    flex-direction:column;
    padding:.5rem;
    border-top:0;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    z-index:2;
}
#team .card-footer h3{
    font-size:15px;
    color:#fff;
    font-weight:bold;
}
#team .card-footer h4{
    font-size:12px;
    color:#fff;
    font-weight:500;
}

/* NEWS STYLES */
#coastBody .newsListing article, #news article{
    border-bottom:1px solid #ccc;
    margin-bottom:3rem;
    padding-bottom:1.5rem;
    box-sizing:border-box;
}
#coastBody .newsListing article .newsFeatureImg{
    width:100%;
}
#coastBody .newsListing article .postSummary{
    font-size:.9rem;
}
#coastBody .newsListing article .postTitle{
    color:#042464;
    font-size:1.4rem;
}
a.readmore{
    background-color:#0059aa;
    color:#fff;
    font-size:.9rem;
}
#news a.readmore:hover{
    background-color:#0086b3;
    color:#fff;
}
.newsFeatureImg{
    border-radius:7px;
}

/* LAB SERVICES STYLES */
#serviceTriangle1{
    margin-bottom:50px;
    margin-top: 0;
    position: relative;
    top: -1.55rem;
    background-color: #0086b3;
}
#serviceTriangle1 h2.triangle{
    margin:0;
}
.lab-service:first-of-type{
    padding-top:0;
}
.lab-service{
    padding-top:calc(80px + 2.25rem);
    border-bottom:3px solid #00aeef;
    padding-bottom:1rem;
}


/* CONTACT STYLES */
.contactUs h3{
    color:#209bac;
}
section.contactUs .contactContainer .contactForm{
    margin-right:2rem; 
    background-color:#efefef;
}
section.contactUs .contactContainer .locationColumn{
    margin-left:2rem;
    padding-top:0;
}
.ourOffice{
    display:flex;
    flex-direction:column;
}
.ourOffice h3, .ourOffice span, .ourOffice iframe{
    flex:1;
}
.ourOffice iframe{
    display:flex;
    flex-direction:column;
    padding-top:2rem;
    min-height:450px;
    width:100%;
}
section.contactUs .contactForm {
    padding:3rem;
}

section.contactUs .contactContainer .contactForm form .columns{
    margin-bottom:0;
    padding-bottom:0;
}
section.contactUs .contactContainer .contactForm form .columns .column{
    margin-bottom:0;
    padding-bottom:0;
}

#coastBody .contactForm .field{
    margin-bottom:1.5rem;
}
#coastBody .contactForm .field input{
    color:#0059aa;    
}
#coastBody .contactForm .button.is-link{
    background-color:#209bac;
    color:#fff;
    padding-right:4rem;
    padding-left:4rem;
}


/* TEST DIRECTORY STYLES */
#testGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content:center;
    margin-top:2rem;
}
#testGrid .card{
    min-width:300px;
    max-width:400px;
    margin:0 1rem 2.5rem 1rem;
}
.labTesting h2{
    text-align:center;
}
#coastBody .labTesting{
    margin-top:1rem;
    padding-top:0;
}
#coastBody .labTesting .card-content a.button{
    color:#fff;
    font-weight:bold;
    background-color:#0086b3;
}
.labTesting .testCard .card-content .card-footer{
    border-top:1px solid #0f3d8b;
    border-bottom:1px solid #0f3d8b;
    justify-content:center;
    padding:1rem 0;
}

/* TEST PAGE STYLES */
.testInfo .card{
    width:100%;
}
.testInfo .card .card-content .content{
    padding:0 4rem 0 4rem;
}
.testInfo .card .card-footer{
    justify-content:center;
    padding:4rem;
}
.testInfo .card-content a.button{
    color:#fff;
    font-weight:bold;
    background-color:#042464;
    font-weight:600;
    font-size:1.3rem;
}

.test-code{
    text-align:left;
    width:100%;
}
.test-code strong{
    float:left;
    padding:0 1rem 0 0;
}
.testInfo .container .card .column{
    text-align:left;
}
#coastBody .testInfo .container .card .column h3{
    text-align:right;
    font-weight:500;
    font-size:1.5rem;
}
#coastBody .testInfo .container .card h2{
    color:#0f3d8b;
}

#coastBody .testInfo .container .card hr{
    background-color:#ccc;
}
#coastBody .testInfo .container .card ul{
    margin-left:0;
    list-style:disc inside;
}
#coastBody .testInfo .container .card ul li{
    margin-left:0;
}
/* #coastBody .labPage{

} */
.labPageIntro{
    display:block;
    clear:both;
    margin:0 0 2rem 0;
}
#coastBody .lab-service img{
    float:right;
    max-width:25%;
    height:auto;
    margin:0 0 3rem 3rem;
    position:relative;
    box-shadow:3px 3px 5px 1px #aaa;
}
#coastBody .lab-service .labTestList{
    display:block;
    margin:2rem 0 2rem 0;
    box-sizing:border-box;
    padding:2rem 0 2rem 0;
    clear:both;
    border-top:1px solid #aaa;
}
#coastBody .lab-service .labTestList ul{
    list-style:disc inside none;
}



#topBar{
    background-color:#042464;
    color:#fff;
    font-size:.8rem;
    text-align:right;
    flex:1 0 100%;
    padding:.25rem;
    box-sizing:border-box;
}
#topBar a, #topBar a:hover, #topBar a:visited{
    color:#fff;
}
.memberBio{
    margin-bottom:3rem;
    padding:3rem 0;
    border-bottom:1px solid #ccc;
}
.memberBio .column img{
    max-width:250px;
}